.conteudoRodape {
    display: flex;
    width: 101.3%;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    justify-content: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #F3A71A;
}

#rodape {
    position: relative;
    text-align: center;
    padding: 12px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 165px;
}

#rodape:after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    height: 60%;
    width: 94.5%;
    background-color: #F3A71A;
    transform: skew(0deg, -3deg);
    z-index: 0;
    border-radius: 0px 50px 0px 0px;
}

#rodape:before {
    content: '';
    position: absolute;
    bottom: -35px;
    right: 0px;
    height: 60%;
    width: 7.5%;
    background-color: #F3A71A;
    transform: skew(0deg, 30deg);
    border-radius: 12px 0px 0px 0px;
    z-index: 0;
}

.info {
    width: auto;
    height: 40px;
}

.icons {
    filter: invert(87%) sepia(75%) saturate(7049%) hue-rotate(343deg) brightness(97%) contrast(93%);
    margin: 0.4em;
}

h5 {
    margin: 0.2em;
}


/* link que ainda não foi visitado */

a {
    color: white;
}

@media screen and (max-width:1440px) {
    .conteudoRodape {
        width: 101.7%;
    }
    #rodape:after {
        content: '';
        position: absolute;
        bottom: -30px;
        left: 0;
        height: 60%;
        width: 94.5%;
        background-color: #F3A71A;
        transform: skew(0deg, -3deg);
        z-index: 0;
        border-radius: 0px 60px 0px 0px;
    }
    #rodape:before {
        content: '';
        position: absolute;
        bottom: -35px;
        right: 0px;
        height: 60%;
        width: 7.5%;
        background-color: #F3A71A;
        transform: skew(0deg, 30deg);
        border-radius: 12px 0px 0px 0px;
        z-index: 0;
    }
}

@media screen and (max-width:1024px) {
    .conteudoRodape {
        width: 102.3%;
    }
    #rodape:after {
        content: '';
        position: absolute;
        bottom: -30px;
        left: 0;
        height: 60%;
        width: 94.5%;
        background-color: #F3A71A;
        transform: skew(0deg, -3deg);
        z-index: 0;
        border-radius: 0px 40px 0px 0px;
    }
    #rodape:before {
        content: '';
        position: absolute;
        bottom: -37px;
        right: 0px;
        height: 60%;
        width: 7.5%;
        background-color: #F3A71A;
        transform: skew(0deg, 35deg);
        border-radius: 12px 0px 0px 0px;
        z-index: 0;
    }
}

@media screen and (max-width:768px) {
    .conteudoRodape {
        width: 103.3%;
    }
}